body{
    background-color: #ffe6a7;

}
#heading {
    background-color: #8b0000;
    color: #ffe6a7;
    text-align: center;
    padding: 20px;
    background-image: url("/sky.avif");
    background-size: cover;
}
#navbar {
    background-color: #8b0000;
    height: 40px;
    color: #fefae0;
    display: flex;
    padding-top: 15px;
    text-align: center;
}
a {
    text-decoration: none;
    color: aliceblue;
    font-size: large;
    margin: 2px 25px 2px 25px;
    padding-top: 10px;
    padding-left: 40px;
}
#navbar a:hover{
  text-decoration: underline;
}

.container{
    display: flex;
    justify-content: space-around;
    gap:40px;
}
.container1{
    width: 85%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.card1{
    text-align: center;
    color: #8b0000;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.card h2 {
  color: #8b0000;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card p {
  font-size: 16px;
  color: black;
}
.quote {
  background: #8b0000;
  color: white;
  text-align: center;
  padding: 30px;
  font-size: 20px;
  font-style: italic;
}

@media (max-width: 768px) {

  #heading h1 {
    font-size: 24px;
  }

  #heading p {
    font-size: 14px;
  }

  #navbar nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #navbar nav a {
    padding: 8px 0;
    font-size: 16px;
  }

  h2 {
    text-align: center;
    font-size: 22px;
  }

  p {
    padding: 0 15px;
    text-align: justify;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container img {
    width: 90%;
    height: auto;
  }

  .container iframe {
    width: 90%;
    height: 200px;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  footer {
    font-size: 14px;
    padding: 10px;
    text-align: center;
  }
}

footer{
    background-color: #8b0000;
    color: #fefae0;
    text-align: center;
    height: 100px;
    margin-top: 20px;
    padding:30px;
}